* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  /* page colors */
  --Clr-white: #fff;
  --Clr-green: green;
}

/* Header section style here */

/* for desktops */
@media only screen and (min-width: 1367px) {
  header {
    position: fixed;
    width: 100%;
    border: 1px solid;
    background: var(--Clr-white);
    backdrop-filter: blur(10px);
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid ; */
    padding: 0.5rem;
  }

  .nav-container-left {
    width: 5%;
    margin-left: 3em;
    /* border: 1px solid; */
  }

  .nav-logo {
    width: 100%;
  }

  .nav-container-right {
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
    gap: 2em;
    width: 70%;
  }

  .nav-list-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid; */
    padding: 2em;
    margin-left: 6em;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
  }

  li a {
    color: rgb(37, 37, 112);
    font-weight: 900;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 2px solid rgb(37, 37, 112);
  }

  .nav-container-btn {
    margin-right: 2em;
  }

  .nav-right-btn {
    padding: 1em;
    padding-left: 3rem;
    padding-right: 3rem;
    background: rgb(124, 177, 39);
    color: #fff;
    border: none;
    border-radius: 30px;
  }
}

/* for laptops */
@media only screen and (min-width: 991px) and (max-width: 1366px) {
  header {
    position: fixed;
    width: 100%;
    /* border: 1px solid; */
    /* background: paleturquoise; */
    background: #fff;
    z-index: 999px;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid ; */
    padding: 0.5rem;
    z-index: 1000px;
    width: 90%;
    margin: 0 auto;
  }

  .nav-container-left {
    width: 5%;
    /* margin-left: 3em; */
    /* border: 1px solid; */
  }

  .nav-logo {
    width: 100%;
  }

  .nav-container-right {
    display: flex;
    /* border: 1px solid; */
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    width: 80%;
  }

  .nav-list-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid; */
    padding: 2em;
    margin-left: 6em;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
    align-items: center;
  }

  li a {
    color: rgb(37, 37, 112);
    font-weight: 600;
    text-decoration: none;
  }

 li a:hover {
    border-bottom: 2px solid rgb(37, 37, 112);
  }

  /* .nav-container-btn {
      margin-right: 2em;
    } */

  .nav-right-btn {
    padding: 1em;
    padding-left: 3rem;
    padding-right: 3rem;
    background: rgb(124, 177, 39);
    color: #fff;
    border: none;
    border-radius: 30px;
    position: relative;
    left: 45px;
  }

  .nav-right-btn:hover{
    border-bottom: none;
    background:  rgb(77, 77, 226);
  }

  .toggle-nav {
    display: none;
  }

  /* Hero section style here */

  main {
    padding-top: 80px;
  }

  .hero-container {
    position: absolute;
    top: 123px;
    /* border-top: 1px solid blue; */
    width: 100%;
    min-height: 80.5vh;
    z-index: -1;
    display: flex;
    align-items: center;
  }

  .hero-container-sub {
    display: flex;
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid; */
    justify-content: space-between;
    /* padding: 1rem; */
    gap: 3.2em;
  }

  .hero-container-header {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 2em; */
  }

  
  .hero-container-header h1 {
    font-size: 2.1rem;
    margin-bottom: 0.4em;
    color: rgb(37, 37, 112);
  
  }

  .hero-paragragh {
    color: rgb(92, 91, 91);
    line-height: 1.3em;
    /* border: 1px solid; */
  }

  .hero-header-btn {
    margin-top: 0.6em;
  }

  .hero-btn {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background: rgb(124, 177, 39);
    border: none;
    border-radius: 30px;
    color: #fff;
  }

  .hero-btn:hover{
    text-decoration: underline;
    cursor: pointer;
  }
 

  .hero-container-image {
    width: 350%;
    margin-top: 2em;
  }

  .hero-img {
    width: 100%;
  }

  /* next-section */
  .next-section {
    position: relative;
    top: 40em;
    width: 100%;
    /* border: 1px solid; */
    z-index: -1;
  }

.next-header{
  width: 100%;
  /* border: 1px solid; */
  text-align: center;
  padding: 2rem;
  
}

  .next-section-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75vh;
    z-index: -1;
    /* border: 1px solid; */
    width: 90%;
    margin: 0 auto;
  }

  .next-header h2{
    color:rgb(37, 37, 112);
    font-size: 2.3rem;
  }

  .next-sub-image{
    width: 49%;
    /* border: 1px solid; */
  }

  .next-sub-image img{
    width: 100%;
  }

  .next-sub-text{
    width: 40%;
  }

  .next-sub-text p{
    line-height: 25px;
    color: rgb(82, 82, 82);
    width: 100%;
  }

  /* project section style here */
  .project-container{
    position: relative;
    top: 100vh;
    /* border: 1px solid; */
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    z-index: -1;
  }

  .project-container-wrapper{
    /* border: 1px solid; */
    width: 100%;
    height: 83vh;
   display: flex;
   justify-content: space-between;
  }

  .project-container-sub{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  border: 1px solid #cfcdcd;
  width: 30%;
  gap: 1em;
  z-index: 999;
  background: #f3f3f3;
  border-radius: 10px;
}

.project-sub-image{
  /* border: 1px solid; */
  width: 100%;
  /* height: 35%; */
}

.project-sub-image img{
  width: 100%;
  max-width: 990px;
  border-radius: 10px;
  
}

.project-sub-quote{
  /* border: 1px solid; */
  width: 100%;
  height: 50%;
  background: #fff;
  border-radius: 10px;

}

.project-sub-quote:hover{
transition: 20px;
}

.project-sub-quote h3{
  text-align: center;
  font-size: 1.5em;
  color:rgb(37, 37, 112);
}

.project-sub-quote p{
  text-align: center;
  color: rgb(82, 82, 82);
}

/* involved section */

.Involve-section {
  position: relative;
  top:120vh;
  width: 100%;
  /* border: 1px solid; */
  z-index: -1;
  /* background: blue; */
}

.involve-header{
width: 100%;
/* border: 1px solid; */
text-align: center;
padding: 2rem;
display: none;

}


.involve-header h2{
  color:rgb(37, 37, 112);
  font-size: 2.3rem;
}

.involve-section-sub{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  height: 75vh;
  z-index: -1;
  /* border: 1px solid; */
  width: 90%;
  margin: 0 auto;
}



.involve-sub-image{
  width: 49%;
  /* border: 1px solid; */
}

.involve-sub-image img{
  width: 100%;
}

.involve-sub-text{
  width: 40%;
}

.involve-sub-text p{
  line-height: 25px;
  color: rgb(82, 82, 82);
  width: 100%;
}

.involve-btn{
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  background:  rgb(124, 177, 39);
  border: none;
  border-radius: 30px;
  margin-top: 2em;
}

.involve-btn:hover{
  background: rgb(77, 77, 226);
}

.involve-btn a{
  color: #fff;
  text-decoration: none;
  
}

.involve-btn a:hover{
  text-decoration: none;
  border-bottom: none;
  
}

.footer-container{
  position: relative;
  top: 150vh;
  /* border: 1px solid; */
  width: 100%;
  max-width: 10000px;
}



.footer-image-wrapper {
  position: relative;
}

.footer-image-wrapper img {
  width: 100%; /* Make the image responsive */
  /* height: auto; */
}

.text-overlay {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset for centering */
  color: white; /* Text color */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 30px; /* Optional padding */
  border-radius: 5px; /* Optional rounded corners */
  font-size: 2.5em;
}

.text-btn{
  position: relative;
  left: 15em;
  top: 0.5em;
  padding: 1em;
  padding-left: 5em;
  padding-right: 5em;
  background: rgb(124, 177, 39);
  border: none;
  border-radius: 30px;
  color: #fff;
}

.text-btn:hover{
  background: rgb(77, 77, 226);
}

.footer-contact{
  width: 100%;
  background: rgb(62, 62, 214);
  color: #fff;
}

.footer-sub{
  color: #fff;
  background: rgb(62, 62, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.footer-contaner-sub{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-left-icons{
  display: flex;
  gap: 3em;
}

.contact-left-icons img{
  width: 3%;
  height: 3%;
  
}

.contact-left-icons img:hover{
  filter: 100%;
}

.right-contacts{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  
}

.txv a{
  color: white;
}


}

/* for large tablets */
@media only screen and (max-width: 990px) {
  header {
    position: fixed;
    width: 100%;
    /* border: 1px solid; */
    background: var(--Clr-white);
    backdrop-filter: blur(10px);
  }

  .nav-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid ; */
    padding: 0.5rem;
  }

  .nav-container-left {
    width: 10%;
    max-width: 990px;

    /* border: 1px solid; */
  }

  .nav-logo {
    width: 100%;
  }

  .nav-container-right {
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    width: 100%;
  }

  .nav-list-container {
    position: absolute;
    top: 100%;
    width: 90%;
    display: none;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid; */
    padding: 2em;
    text-align: center;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  li a {
    color: rgb(37, 37, 112);
    font-weight: 900;
    text-decoration: none;
  }

  li a:hover {
    border-bottom: 2px solid rgb(37, 37, 112);
  }

  .nav-container-btn {
    margin-right: 2em;
  }

  .nav-right-btn {
    padding: 1em;
    padding-left: 3rem;
    padding-right: 3rem;
    background: rgb(124, 177, 39);
    color: #fff;
    border: none;
    border-radius: 30px;
  }

  .toggle-nav:checked ~ .nav-list-container {
    display: block;
  }

  .toggle-nav {
    display: none;
  }

  .toggle-label {
    position: absolute;
    top: 0;
    right: 50px;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .toggle-label span,
  .toggle-label span::before,
  .toggle-label span::after {
    display: block;
    height: 3px;
    width: 2em;
    background: blue;
    border-radius: 5px;
    position: relative;
  }

  .toggle-label span::before,
  .toggle-label span::after {
    content: "";
    position: absolute;
  }

  .toggle-label span::before {
    bottom: 7px;
  }

  .toggle-label span::after {
    top: 7px;
  }

  /* hero section style here */

  .hero-container {
    position: absolute;
    top: 57px;
    /* border-top: 1px solid blue; */
    width: 100%;
    min-height: 89vh;
    z-index: -1;
    display: flex;
    align-items: center;
  }

  .hero-container-sub {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    /* height: 170vh; */
    /* border: 1px solid; */
    justify-content: center;
    padding: 1rem;
    gap: 3.2em;
  }

  .hero-container-header {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    width: 93%;
    margin: 0 auto;
  /* border: 1px solid; */
  }


  .hero-container-header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.4em;
    color: rgb(37, 37, 112);
  }

  .hero-paragragh {
    color: rgb(92, 91, 91);
    line-height: 1.3em;
  }

  .hero-header-btn {
    margin-top: 0.6em;
  }

  .hero-btn {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background: rgb(124, 177, 39);
    border: none;
    border-radius: 30px;
    color: #fff;
  }

  .hero-container-image {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
  }

  .hero-img {
    width: 100%;
  }

  /* next section */
  .next-section {
    position: relative;
    top: 70em;
    width: 100%;
    /* border: 1px solid; */
    z-index: -1;
  }

 

  .next-header{
    width: 100%;
    /* border: 1px solid; */
    text-align: center;
    padding: 2rem;
    
  }
  
  .next-header h2{
    color:rgb(37, 37, 112);
    font-size: 2.3rem;
  }
  
    .next-section-sub{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 115vh;
      z-index: -1;
      /* border: 1px solid; */
      width: 90%;
      margin: 0 auto;
    }
  
  
    .next-sub-image{
      width: 90%;
      /* border: 1px solid; */
      margin-top: 3em;
    }
  
    .next-sub-image img{
      width: 100%;
    }

    .next-sub-text{
      width: 90%;
      margin: 0 auto;
    }
  
    .next-sub-text p{
      line-height: 25px;
      color: rgb(82, 82, 82);
      margin-top: 3em;
      width: 100%;
    }

    /* project section style here */

    .project-container{
      position: relative;
      top: 205vh;
      /* border: 1px solid; */
      width: 90%;
      margin: 0 auto;
      height: 220vh;
      z-index: -1;
      /* padding: 1em; */
    }
  
    .project-container-wrapper{
      /* border: 1px solid; */
      width: 100%;
      height: 81vh;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     gap:5em;
    }
  
    .project-container-sub{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    width: 100%;
    background: #dfdede;
  border-radius: 10px;
    
  }
  
  .project-sub-image{
    /* border: 1px solid; */
    width: 100%;
    /* height: 35%; */
    
  }
  
  .project-sub-image img{
    width: 100%;
    max-width: 990px;
    border-radius: 5px;
    
  }

  .project-sub-quote h3{
    text-align: center;
    font-size: 1.5em;
    color:rgb(37, 37, 112);
  }
  
  .project-sub-quote{
    /* border: 1px solid; */
    width: 100%;
    height: 75%;
    background: #ecebeb;
    border-radius: 10px;
  }
  
  .project-sub-quote p{
    text-align: center;
    color: rgb(82, 82, 82);
  }

  /* Involve style here */

  .Involve-section {
    position: relative;
    top:330vh;
    width: 100%;
    /* border: 1px solid; */
    z-index: -1;
    /* background: blue; */
  }
  
  .involve-header{
  width: 100%;
  /* border: 1px solid; */
  text-align: center;
  padding: 2rem;
  display: none;
  
  }
  
  
  .involve-header h2{
    color:rgb(37, 37, 112);
    font-size: 2.3rem;
  }
  
  .involve-section-sub{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    height: 75vh;
    z-index: -1;
    /* border: 1px solid; */
    width: 90%;
    margin: 0 auto;
  }
  
  
  
  .involve-sub-image{
    width: 100%;
    /* border: 1px solid; */
  }
  
  .involve-sub-image img{
    width: 100%;
  }
  
  .involve-sub-text{
    width: 100%;
  }
  
  .involve-sub-text p{
    line-height: 25px;
    color: rgb(82, 82, 82);
    width: 100%;
  }
  
  .involve-btn{
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    background:  rgb(124, 177, 39);
    border: none;
    border-radius: 30px;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  .involve-btn:hover{
    background: rgb(77, 77, 226);
  }
  
  .involve-btn a{
    color: #fff;
    text-decoration: none;
    
  }
  
  .involve-btn a:hover{
    text-decoration: none;
    border-bottom: none;
    
  }

  /* footer section style here */

  .footer-container{
    position: relative;
    top: 340vh;
    /* border: 1px solid; */
    width: 100%;
    max-width: 10000px;
  }
  
  
  
  .footer-image-wrapper {
    position: relative;
  }
  
  .footer-image-wrapper img {
    width: 100%; /* Make the image responsive */
    /* height: auto; */
  }
  
  .text-overlay {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset for centering */
    color: white; /* Text color */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 5px; /* Optional padding */
    border-radius: 5px; /* Optional rounded corners */
    font-size: 1em;
  }
  
  .text-btn{
    position: relative;
    left: 2em;
    top: 0.5em;
    padding: 1em;
    padding-left: 5em;
    padding-right: 5em;
    background: rgb(124, 177, 39);
    border: none;
    border-radius: 30px;
    color: #fff;
  }
  
  .text-btn:hover{
    background: rgb(77, 77, 226);
  }
  
  .footer-contact{
    width: 100%;
    background: rgb(62, 62, 214);
    color: #fff;
  }
  
  .footer-sub{
    color: #fff;
    background: rgb(62, 62, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  
  .footer-contaner-sub{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact-left-icons{
    display: flex;
    gap: 3em;
  }
  
  .contact-left-icons img{
    width: 3%;
    height: 3%;
    
  }
  
  .contact-left-icons img:hover{
    filter: 100%;
  }
  
  .right-contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    
  }
  
  .txv a{
    color: white;
  }
  
  
  
}


