* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  /* page colors */
  --Clr-white: #fff;
  --Clr-green: green;
}

/* Header section style here */

/* for desktops */
@media only screen and (min-width: 1367px) {
  header {
    position: fixed;
    width: 100%;
    border: 1px solid;
    background: var(--Clr-white);
    backdrop-filter: blur(10px);
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid ; */
    padding: 0.5rem;
  }

  .nav-container-left {
    width: 5%;
    margin-left: 3em;
    /* border: 1px solid; */
  }

  .nav-logo {
    width: 100%;
  }

  .nav-container-right {
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
    gap: 2em;
    width: 70%;
  }

  .nav-list-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid; */
    padding: 2em;
    margin-left: 6em;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
  }

  li a {
    color: rgb(37, 37, 112);
    font-weight: 900;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 2px solid rgb(37, 37, 112);
  }

  .nav-container-btn {
    margin-right: 2em;
  }

  .nav-right-btn {
    padding: 1em;
    padding-left: 3rem;
    padding-right: 3rem;
    background: rgb(124, 177, 39);
    color: #fff;
    border: none;
    border-radius: 30px;
  }
}

/* for laptops */
@media only screen and (min-width: 991px) and (max-width: 1366px) {
  header {
    position: fixed;
    width: 100%;
    /* border: 1px solid; */
    /* background: paleturquoise; */
    background: #fff;
    z-index: 999px;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid ; */
    padding: 0.5rem;
    z-index: 1000px;
  }

  .nav-container-left {
    width: 5%;
    margin-left: 3em;
    /* border: 1px solid; */
  }

  .nav-logo {
    width: 100%;
  }

  .nav-container-right {
    display: flex;
    /* border: 1px solid; */
    justify-content: flex-end;
    align-items: center;

    gap: 2em;
    width: 80%;
  }

  .nav-list-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid; */
    padding: 2em;
    margin-left: 6em;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
    align-items: center;
  }

  li a {
    color: rgb(37, 37, 112);
    font-weight: 600;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 2px solid rgb(37, 37, 112);
  }

  /* .nav-container-btn {
      margin-right: 2em;
    } */

  .nav-right-btn {
    padding: 1em;
    padding-left: 3rem;
    padding-right: 3rem;
    background: rgb(124, 177, 39);
    color: #fff;
    border: none;
    border-radius: 30px;
  }

  .toggle-nav {
    display: none;
  }

  /* Hero section style here */

  main {
    padding-top: 80px;
  }

  .hero-container {
    position: absolute;
    top: 123px;
    /* border-top: 1px solid blue; */
    width: 100%;
    min-height: 80.5vh;
    z-index: -1;
    display: flex;
    align-items: center;
  }

  .hero-container-sub {
    display: flex;
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid; */
    justify-content: center;
    padding: 1rem;
    gap: 3.2em;
  }

  .hero-container-header {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
  }

  .hero-container-header h1 {
    font-size: 2.1rem;
    margin-bottom: 0.4em;
    color: rgb(37, 37, 112);
  }

  .hero-paragragh {
    color: rgb(92, 91, 91);
    line-height: 1.3em;
  }

  .hero-header-btn {
    margin-top: 0.6em;
  }

  .hero-btn {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background: rgb(124, 177, 39);
    border: none;
    border-radius: 30px;
    color: #fff;
  }

  .hero-container-image {
    width: 350%;
    margin-top: 2em;
  }

  .hero-img {
    width: 100%;
  }

  /* next-section */
  .next-section {
    position: relative;
    top: 40em;
    width: 100%;
    border: 1px solid;
  }
}

/* for large tablets */
@media only screen and (min-width: 480px) and (max-width: 990px) {
  header {
    position: fixed;
    width: 100%;
    border: 1px solid;
    background: var(--Clr-white);
    backdrop-filter: blur(10px);
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid ; */
    padding: 0.5rem;
  }

  .nav-container-left {
    width: 5%;

    /* border: 1px solid; */
  }

  .nav-logo {
    width: 100%;
  }

  .nav-container-right {
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    width: 100%;
  }

  .nav-list-container {
    position: absolute;
    top: 100%;
    width: 90%;
    display: none;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    padding: 2em;
    text-align: center;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  li a {
    color: rgb(37, 37, 112);
    font-weight: 900;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 2px solid rgb(37, 37, 112);
  }

  .nav-container-btn {
    margin-right: 2em;
  }

  .nav-right-btn {
    padding: 1em;
    padding-left: 3rem;
    padding-right: 3rem;
    background: rgb(124, 177, 39);
    color: #fff;
    border: none;
    border-radius: 30px;
  }

  .toggle-nav:checked ~ .nav-list-container {
    display: block;
  }

  .toggle-nav {
    display: none;
  }

  .toggle-label {
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .toggle-label span,
  .toggle-label span::before,
  .toggle-label span::after {
    display: block;
    height: 3px;
    width: 2em;
    background: blue;
    border-radius: 5px;
    position: relative;
  }

  .toggle-label span::before,
  .toggle-label span::after {
    content: "";
    position: absolute;
  }

  .toggle-label span::before {
    bottom: 7px;
  }

  .toggle-label span::after {
    top: 7px;
  }

  /* hero section style here */

  .hero-container {
    position: absolute;
    top: 57px;
    /* border-top: 1px solid blue; */
    width: 100%;
    min-height: 80.5vh;
    z-index: -1;
    display: flex;
    align-items: center;
  }

  .hero-container-sub {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid; */
    justify-content: center;
    padding: 1rem;
    gap: 3.2em;
  }

  .hero-container-header {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
  }

  .hero-container-header h1 {
    font-size: 2.1rem;
    margin-bottom: 0.4em;
    color: rgb(37, 37, 112);
  }

  .hero-paragragh {
    color: rgb(92, 91, 91);
    line-height: 1.3em;
  }

  .hero-header-btn {
    margin-top: 0.6em;
  }

  .hero-btn {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background: rgb(124, 177, 39);
    border: none;
    border-radius: 30px;
    color: #fff;
  }

  .hero-container-image {
    width: 100%;
    margin-top: 2em;
  }

  .hero-img {
    width: 100%;
  }
}

/* for cellphones */
@media only screen and (max-width: 480px) {
  header {
    position: fixed;
    width: 100%;
    border: 1px solid;
    background: var(--Clr-white);
    backdrop-filter: blur(10px);
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid ; */
    padding: 0.5rem;
  }

  .nav-container-left {
    width: 5%;

    /* border: 1px solid; */
  }

  .nav-logo {
    width: 100%;
  }

  .nav-container-right {
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    width: 100%;
  }

  .nav-list-container {
    position: absolute;
    top: 100%;
    width: 90%;
    display: none;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    padding: 2em;
    text-align: center;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  li a {
    color: rgb(37, 37, 112);
    font-weight: 900;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 2px solid rgb(37, 37, 112);
  }

  .nav-container-btn {
    margin-right: 2em;
  }

  .nav-right-btn {
    padding: 1em;
    padding-left: 3rem;
    padding-right: 3rem;
    background: rgb(124, 177, 39);
    color: #fff;
    border: none;
    border-radius: 30px;
  }

  .toggle-nav:checked ~ .nav-list-container {
    display: block;
  }

  .toggle-nav {
    display: none;
  }

  .toggle-label {
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .toggle-label span,
  .toggle-label span::before,
  .toggle-label span::after {
    display: block;
    height: 3px;
    width: 2em;
    background: blue;
    border-radius: 5px;
    position: relative;
  }

  .toggle-label span::before,
  .toggle-label span::after {
    content: "";
    position: absolute;
  }

  .toggle-label span::before {
    bottom: 7px;
  }

  .toggle-label span::after {
    top: 7px;
  }

  /* hero section style here */

  .hero-container {
    position: absolute;
    top: 41px;
    /* border-top: 1px solid blue; */
    width: 100%;
    min-height: 80.5vh;
    z-index: -1;
    display: flex;
    align-items: center;
  }

  .hero-container-sub {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid; */
    justify-content: center;
    padding: 1rem;
    gap: 3.2em;
  }

  .hero-container-header {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
  }

  .hero-container-header h1 {
    font-size: 2.1rem;
    margin-bottom: 0.4em;
    color: rgb(37, 37, 112);
  }

  .hero-paragragh {
    color: rgb(92, 91, 91);
    line-height: 1.3em;
  }

  .hero-header-btn {
    margin-top: 0.6em;
  }

  .hero-btn {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background: rgb(124, 177, 39);
    border: none;
    border-radius: 30px;
    color: #fff;
  }

  .hero-container-image {
    width: 100%;
    margin-top: 2em;
  }

  .hero-img {
    width: 100%;
  }
}
